[*.cs]
# New line preferences
csharp_new_line_before_open_brace = all

# Space preferences
csharp_space_after_semicolon = true

# Code style rules
dotnet_style_semicolon_at_end_of_line = true:warning
csharp_prefer_simple_default_expression = true:suggestion